{# App Sidebar #}
<aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
    {# Sidebar Brand #}
    <div class="sidebar-brand">
        <a href="/" class="brand-link">
            <span class="brand-text fw-light">Tandem Editor</span>
        </a>
    </div>

    {# Sidebar Wrapper #}
    <div class="sidebar-wrapper">
        <nav class="mt-2">
            {# Sidebar Menu #}
            <ul class="nav sidebar-menu flex-column" data-lte-toggle="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="/" class="nav-link active">
                        <i class="nav-icon bi bi-speedometer"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon bi bi-film"></i>
                        <p>Projects</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon bi bi-upload"></i>
                        <p>Upload</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon bi bi-hdd"></i>
                        <p>Media</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_clients') }}" class="nav-link {% if app.request.attributes.get('_route') == 'app_clients' %}active{% endif %}">
                        <i class="nav-icon bi bi-people"></i>
                        <p>Clients</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_workloads') }}" class="nav-link {% if app.request.attributes.get('_route') == 'app_workloads' %}active{% endif %}">
                        <i class="nav-icon bi bi-list-task"></i>
                        <p>Workloads</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_videographers') }}" class="nav-link {% if app.request.attributes.get('_route') == 'app_videographers' %}active{% endif %}">
                        <i class="nav-icon bi bi-camera-video"></i>
                        <p>Videographers</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_splashscreens') }}" class="nav-link {% if app.request.attributes.get('_route') == 'app_splashscreens' %}active{% endif %}">
                        <i class="nav-icon bi bi-display"></i>
                        <p>Splashscreens</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_settings') }}" class="nav-link{% if app.request.attributes.get('_route') == 'app_settings' %} active{% endif %}">
                        <i class="nav-icon bi bi-gear"></i>
                        <p>Settings</p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
